.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: dodgerblue;
  height: 100vh;
  width: 100vw;
}
.Input{
  display: flex;
  width: 50%;
  background: transparent;
  border: 1px solid white;
  height: 8%;
  font-weight: bold;
}
.container{
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.text{
  font-weight: bold;
}