.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  background: dodgerblue;
  height: 100vh;
  width: 100vw;
}
.topdiv{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.bottom-div{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.charts{
  width: 27%;
  height: 90%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.chart{
  width: 48%;
  height: 90%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
ul, li{
  text-decoration: none;
  text-align: center;
  list-style-type: none;
  font-family: 'Poppins';
  font-size: 0.9rem;
}
h2{
  font-family: 'Poppins';
}
.Input{
  display: flex;
  width: 50%;
  background: transparent;
  border: 1px solid white;
  height: 10%;
  font-weight: bold;
  font-family: 'Poppins';
  color: black;
}
.container{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
.text{
  font-weight: bold;
  font-family: 'Poppins';
}

.cityname{
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Poppins';
}